.container {
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  background: #c9d7ff;
  transition: all 0.3s;
  animation: expand_center 1200ms;
  /* animation-fill-mode: forwards; */
  box-shadow: 5px 5px 15px 5px rgb(199, 192, 192);
}

@keyframes expand_center {
  0% {
    clip-path: polygon(50% 100%, 50% 0, 50% 0, 50% 100%);
    -webkit-clip-path: polygon(50% 100%, 50% 0, 50% 0, 50% 100%);
  }
  100% {
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  }
}
body::-webkit-scrollbar {
  width: 8px;
}

/* body::-webkit-scrollbar-button {
  height: 10px;
  background: rgb(243, 231, 55);
} */

body::-webkit-scrollbar-thumb {
  background: #77bbfa;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background: #a4acc4;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .icon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .icon {
  left: 0px;
}
.right-addon .icon {
  right: 0px;
}

/* add padding  */
.left-addon input,
.left-addon .input-group input {
  padding-left: 30px;
}
.right-addon input,
.left-addon .input-group input {
  padding-right: 30px;
}

.pageactive {
  background: rgb(231, 97, 97);
  color: aliceblue;
}

.pageactive:hover {
  background: crimson;
  color: aliceblue;
}
